.searchWrapper{
  display: inline;
  width: 300px;
  height: 100%;
  outline:2px solid seagreen;
  border-radius: 4px;
}
.searchForm{
  all: unset;
  height: 100%;
  width: 100%;
  display: inline-flex;
}
.searchBar{
  all:unset;
  height:100%;
  width: 100%;
}

/* .searchBtn:focus{
  background-color: #7fffd464;
} */